<svg width="40" height="40" viewBox="0 0 82 82" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-logo">
  <title>
    Group
  </title>
  <defs>
    <path id="a" d="M0 0h82v82H0z"></path>
  </defs>
  <g fill="none" fill-rule="evenodd">
    <path stroke="#4D4F55" stroke-width="2" fill="#FFF" d="M0 0h82v82H0z"></path>
    <mask id="b" fill="#fff">
      <use xlink:href="#a"></use>
    </mask>
    <use fill="#FFF" xlink:href="#a"></use>
    <path d="M32.18848 71.72977l-15.90373-17.6629-52.386 47.1686 60.56934 67.26907 8.0758-7.27147 3.5018 7.86525 64.39795-28.6718-36.8176-82.69367-31.4376 13.99692z" fill="#D8D8D8" mask="url(#b)" class="wave"></path>
    <path stroke="#4D4F55" stroke-width="4" d="M0 0h82v82H0z"></path>
    <text font-family="Source Sans Pro" font-size="46" font-weight="bold" fill="#4D4F55">
      <tspan x="27.33333" y="54.58442">R</tspan>
    </text>
  </g>
</svg>
