@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);

html, body {
  height: 100%;
  width: 100%;
  font-family: Source Sans Pro, Helvetica Neue, Arial;
}

body {
  background: url(/bg.png) no-repeat center center;
  background-size: cover;
}

.rtnm-wrapper {
  width: 940px;
  height: 100%;
  margin: 0 auto;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #4D4F55;
    text-shadow: 0px 2px 4px rgba(255,255,255,0.75);
    text-align: center;
    padding-top: 180px;
  }
}
